
@media (max-width: 1024px){
    nav{
        width: 100%;
    }
    .navbar{
        gap: .625rem;
        justify-content: flex-end;
    
        li{ 
            a{
                font-size: .9375rem;
                text-transform: uppercase;
            }
        }
    }
    .img-tamaño-boot{
        width: 3.125rem;
        height: 3.125rem;
        margin-right: .625rem;
    }
    .contenedor{
        display: flex;
        justify-content: center;
        align-items: center;

        a{ 
            img{
                margin-left: 2.1875rem;
                margin-right: 2.1875rem;
                width: 3.125rem;
                height: 3.125rem;
            }
        }
    }
    .flex-productos{
        flex-direction: row;
        margin-left: .625rem;
        margin-right: .625rem;
        margin-bottom: 6.25rem;
    }
    .productos{ 
        img{
            width: 7.5rem;
            height: 7.5rem;
        }
    }
    .texto-ayuda{ 
        h2{
        margin-bottom: 1.5625rem;
        }
    }
    .texto-contacto{
        h2{
        margin-bottom: 1.5625rem;
        }
    }
    .cardBody{
        h5{
        font-size: 1.5625rem;
        }
        a{
        padding: 0%;
        }
    }
    .form-label{
        font-size: 1.25rem;
    }
}