header{
    background-color: rgb(218, 216, 201);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar{
    list-style: none;
    gap: 3.125rem;
    display: flex;
    width: 100%;

    li{ 
        a{
            text-decoration: none;
            color: $color-principal;
            font-family: 'Asap', sans-serif;
            font-size: 1.25rem;
            margin-right: 1.875rem;
        }
    }
}

.navbar-nav{
    a{
        &:hover {
        background-color: #a8a6a6;
        border-radius: 4px;
        }
    }
}

.navbar-brand{
    img{
        width: 40px;
        height: 2.5rem;
        display: flex;
    }
}